{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Friday, October 21, 2022</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>1:00 pm - 1:10 pm</td>  <td>Introductions and Logistics</td> </tr>
      <tr> <td>1:10 pm - 2:20 pm</td>  <td>Introducing Databases and SQL; Accessing Data with Queries</td> </tr>
      <tr> <td>2:20 pm - 2:30 pm</td>  <td>Break</td> </tr>
      <tr> <td>2:30 pm - 3:50 pm</td>  <td>Aggregating and Grouping Data; Combining Data with Joins</td> </tr>
      <tr> <td>3:50 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>3:55 pm</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
